*{margin:0; padding:0;}

.nencenter1 {
    background-color: #e0e0e0;
    padding-bottom: 40px;
}

nav.tincenter1 {
    background-color: white;
    padding-bottom: 80px;
}

.cuoi
{
	margin-right: 0;
}

.menu1
{
    list-style: none;
}

.menu1 li a
{
    color: #776d51;
}

.menu1 li
{
	margin-right:20px;
	float:left;
	margin-top:20px;
}

#menu1cuoi
{
	background-color: #484336;
	padding: 10px 10px 10px 10px;
	border-radius: 29%;
	margin-top: 10px;
	margin-left: 0px;
}

.nenhead1
{
    width: 100%;
    box-sizing: border-box;
    /* background-color: #28251d; */
    padding-top: 15px;
    padding-bottom: 20px;
    background-image: url(images/nenheader.png);
    height: 120px;
}